*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bubble-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    z-index: -4;
}

.bubbles{
    position: relative;
    display: flex;
    z-index: -4;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #f8c600;
    margin:0px 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ccdc4f44,
    0 0 50px #f8c600,
    0 0 100px #f8c600;
    animation: animate 10s linear infinite;
    animation-duration: calc(130s / var(--i));
}

.bubbles span:nth-child(even){
    background-color: #E95F46;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #E95F46,
    0 0 100px #E95F46;
    
}

@keyframes animate{
    0%{
        transform:translateY(70vh) scale(0);
    }
    100%{
        transform: translateY(-10%) scale(1);
    }
}