*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bubble-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    z-index: -4;
}

.bubbles{
    position: relative;
    display: flex;
    z-index: -4;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #98c1d9;
    margin:0px 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #d0e9f7,
    0 0 50px #98c1d9,
    0 0 100px #98c1d9;
    animation: animate 10s linear infinite;
    animation-duration: calc(300s / var(--i));
}

.bubbles span:nth-child(even){
    background-color: #98c1d9;
    box-shadow: 0 0 0 10px #d0e9f7,
    0 0 50px #98c1d9,
    0 0 100px #98c1d9;
    
    
}

@keyframes animate{
    0%{
        transform:translateY(70vh) scale(0);
    }
    100%{
        transform: translateY(-10%) scale(1);
    }
}