*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.login{
    height: 534px;
    width: 100%;  
    background-color: #fff;
}

.form-box{
    position: absolute;
    border: 1px solid black;
    width: 100%;
    max-width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FCFCFC;
    border-color: #E5E5E5;
}

#title{
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top:10px;
    background-color: #32434D;
    color:#fff;
    font-weight: 100px ;
    font-size: 20px;
}

.input-group1{
    height: 300px;
}

.input-field{
    height: 70px;
    width: 100%;
    margin: 5px 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 70px;
    padding:0px 10px 0px 10px;
}

input{
    /* border: 1px solid black; */
    position: relative;
    bottom: 10%;
    width: 100%;
    border: 1px solid black;
    outline:0px;
    border-radius: 3px; 
    height: 35px;
    background:white;
    padding: 0px 10px;
}

.input-field .i{
    display: inline;
    position: relative;
    top:20%;
    left:90%;
    translate: transform(-70%,-70%);
    color:#9999;
    z-index: 2;
}

.recaptcha{
    margin-top: 10px;
    align-items: center;
}

.btn-field{
    display: flex;
    justify-content: center;
    margin:15px 0px;
}